<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="error-container">
      <h1>ERROR: <%= err.message %></h1>
      <h3>Status Code: <%= err.statusCode %></h3>
    </div>
  </body>
</html>
