<!DOCTYPE html>
<html>
<head>
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <h1>Messages</h1>

  <ul>
    <% messages.forEach((message) => { %>
      <li>
        <p><strong>User:</strong> <%= message.user %></p>
        <p><strong>Message:</strong> <%= message.text %></p>
        <p><strong>Time:</strong> <%= message.added %></p>
      </li>
      <a href="/open/<%= message.user %>" class="open-btn">Open</a>
    <% }) %>
  </ul>

  <a href="/new">
    <button type="button">New Message</button>
  </a>

</body>
</html>